h1 {
  margin: 0;
  margin-left: 20px;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
  height: 250px;
}

.jwall {
  background-color: white;
  padding: 10px;
  height: 550px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  background-color: rgb(224, 224, 224);
  color: black;
  height: 100%;
}

.nav-link {
  color: darkblue;
}
